<h1>Welcome to the Ideadrome!</h1>
<p>Two ideas go in. Only one comes out.</p>
<%= image_tag 'pony3.jpg', :class => 'with-margin' %>
<p>Recently Gauldie wanted a ToDo list, with a little bit of automagic, and a couple of rainbow ponies we've hacked one together</p>

